<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>使用calc计算</title>
    <style>

    body, div {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    div {
        min-height: 100px;
    }

    .container {
      text-align: center;

    }
    .left, .middle, .right {
      float: left;
    }

    .left {
        background: red;  
        width: 100px;
    }
    .middle {
        background: yellow; 
        width: calc(100% - 200px);
    }
    .right {
        background: blue;  
        width: 100px;
    }
    
    
    </style>
</head>
<body>
    <div class="container">
       <div class="left">left</div>
       <div class="middle">middle</div>
       <div class="right">right</div>
    </div>
   
</body>
</html>